.menu-section {
  margin: auto;
  font-weight: bold;
  cursor: pointer;
  //position: absolute;
  display: flex;
  flex-direction: column;
  //top: 10px;
  //left: 20px;
  i {
    font-size: 1.5rem;
    padding: 10px;
    transition: 0.3s ease;
  }
  i:hover {
    scale: 1.2 !important;
    transition: 0.3s ease;
  }

  .menu-item {
    margin: 10px 0;
    max-width: 48px;
  }
}

.selected-menu-item {
  border: 2px solid var(--p-border-color);
  border-radius: var(--normal-border-radius);
}

.selected-menu-item:hover {
  scale: 1.2 !important;
  transition: 0.3s ease;
}
