.left-border-radius {
  border-top-left-radius: 14px;
  border-bottom-left-radius: 14px;
}

.right-border-radius {
  border-top-right-radius: 14px;
  border-bottom-right-radius: 14px;
}

.grey-text {
  color: var(--p-gray-500);
}

.span-brackets {
  font-size: 13px;
}

.icon-l-size {
  font-size: var(--icon-l-font-size) !important;
}

.mt-12 {
  margin-top: 12rem;
}
