@switch (type) {
  @case ('all') {
    <div class="all-skills-card-container">
      <p-card [header]="title! | translate">
        @for (skill of skills; track skill.code) {
          <div class="m-0 presentation-card-body" [pTooltip]="skill.label | translate">
            <div class="skill-presentation-card-img">
              <img alt="skill-img" [src]="skill?.img">
            </div>
            <div class="rating">
              <p-rating [ngModelOptions]="{standalone: true}" [(ngModel)]="skill.rating" [readonly]="true"></p-rating>
            </div>
          </div>
        }
      </p-card>
    </div>
  }
  @case ('main') {
    <p-card>
      <div class="m-0 main-skill-card-body">
        <img alt="skill-img" [src]="mainSkill?.img">
        <p class="grey-text m-1" [pTooltip]="mainSkill?.label | translate">{{mainSkill?.label | translate}}</p>
      </div>
    </p-card>
  }
}
