.main-profile-navbar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 92%;
  img {
    height: auto;
    //border-radius: 50%;
    width: 10rem;
  }
  z-index: 1000;
  transition: top 0.6s ease-in-out, transform 0.6s ease-in-out;
  .top-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .bottom-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    i {
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}

.middle-navbar {
  top: 15%;
  transform: translateY(15%);
}

.top-navbar {
  top: 0px;
  transform: translateY(0);
  backdrop-filter: blur(4px);
}

.welcome-section {
  display: flex;
  flex-direction: column;
}

.welcome-names {
  font-size: 40px;
  color: var(--p-secondary-color);
}

.work-title-name {
  font-size: 20px;
}

.profile-field {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 2px solid var(--p-border-color);
  border-radius: var(--normal-border-radius);
}

.link-section {
  position: absolute;
  top: 70px;
  right: 20px;

  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: center;
  align-items: center;

  transform: translate(calc(-50vw + 120px), calc(50vh - 300px));
  transition: transform 0.6s ease-in-out, flex-direction 0.6s ease-in-out;
  will-change: transform;
  i {
    font-size: 1.8rem;
    cursor: pointer;
  }
}

.link-section-right {
  flex-direction: column;
  transform: translate(0, 0);
  i {
    font-size: 2rem;
    cursor: pointer;
  }
}
