.language-card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  img {
    width: 105px;
    height: 75px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;

    border-radius: var(--normal-border-radius);
    display: block;
  }
}
